
advProj_BusinessObjects/obj/advProj_BusinessObjects.csproj.nuget.dgspec.json
advProj_BusinessObjects/obj/advProj_BusinessObjects.csproj.nuget.dgspec.json
advProj_BusinessObjects/obj/advProj_BusinessObjects.csproj.nuget.g.props
advProj_BusinessObjects/obj/Debug/net6.0/advProj_BusinessObjects.assets.cache
advProj_BusinessObjects/obj/Debug/net6.0/advProj_BusinessObjects.csproj.AssemblyReference.cache
advProj_BusinessObjects/obj/Debug/net6.0/advProj_BusinessObjects.GeneratedMSBuildEditorConfig.editorconfig
advProj_BusinessObjects/obj/project.assets.json
advProj_BusinessObjects/obj/project.nuget.cache
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/00be0ad8-d6a1-475d-86fb-e89d1fc6decc.vsidx
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/4eedceb8-1971-4f80-9452-6a6a97b93496.vsidx
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/893efe23-363f-4c2f-bff3-9c2a83eec3d8.vsidx
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/90451a93-d532-4a0f-91c7-9acf2b6494de.vsidx
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/e964665f-d8e2-4c42-af4c-48cfd5e895d6.vsidx
advProj_ProjectManager/obj/advProj_ProjectManager.csproj.nuget.dgspec.json
advProj_ProjectManager/obj/advProj_ProjectManager.csproj.nuget.g.props
advProj_ProjectManager/obj/Debug/net6.0-windows/advProj_ProjectManager.assets.cache
advProj_ProjectManager/obj/Debug/net6.0-windows/advProj_ProjectManager.csproj.AssemblyReference.cache
advProj_ProjectManager/obj/Debug/net6.0-windows/advProj_ProjectManager.GeneratedMSBuildEditorConfig.editorconfig
advProj_ProjectManager/obj/project.assets.json
advProj_ProjectManager/obj/project.nuget.cache
advProj_WebProjectManager/obj/advProj_WebProjectManager.csproj.nuget.dgspec.json
advProj_WebProjectManager/obj/advProj_WebProjectManager.csproj.nuget.g.props
advProj_WebProjectManager/obj/Debug/net6.0/advProj_WebProjectManager.assets.cache
advProj_WebProjectManager/obj/Debug/net6.0/advProj_WebProjectManager.csproj.AssemblyReference.cache
advProj_WebProjectManager/obj/Debug/net6.0/advProj_WebProjectManager.GeneratedMSBuildEditorConfig.editorconfig
advProj_WebProjectManager/obj/project.assets.json
advProj_WebProjectManager/obj/project.nuget.cache
advProj_BusinessObjects/obj/advProj_BusinessObjects.csproj.nuget.dgspec.json
advProj_BusinessObjects/obj/advProj_BusinessObjects.csproj.nuget.g.props
advProj_BusinessObjects/obj/Debug/net6.0/advProj_BusinessObjects.assets.cache
advProj_BusinessObjects/obj/Debug/net6.0/advProj_BusinessObjects.csproj.AssemblyReference.cache
advProj_BusinessObjects/obj/Debug/net6.0/advProj_BusinessObjects.GeneratedMSBuildEditorConfig.editorconfig
advProj_BusinessObjects/obj/project.assets.json
advProj_BusinessObjects/obj/project.nuget.cache
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/00be0ad8-d6a1-475d-86fb-e89d1fc6decc.vsidx
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/893efe23-363f-4c2f-bff3-9c2a83eec3d8.vsidx
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/90451a93-d532-4a0f-91c7-9acf2b6494de.vsidx
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/e964665f-d8e2-4c42-af4c-48cfd5e895d6.vsidx
advProj_ProjectManager/obj/advProj_ProjectManager.csproj.nuget.dgspec.json
advProj_ProjectManager/obj/advProj_ProjectManager.csproj.nuget.g.props
advProj_ProjectManager/obj/Debug/net6.0-windows/advProj_ProjectManager.assets.cache
advProj_ProjectManager/obj/Debug/net6.0-windows/advProj_ProjectManager.csproj.AssemblyReference.cache
advProj_ProjectManager/obj/Debug/net6.0-windows/advProj_ProjectManager.GeneratedMSBuildEditorConfig.editorconfig
advProj_ProjectManager/obj/project.assets.json
advProj_ProjectManager/obj/project.nuget.cache
advProj_WebProjectManager/obj/advProj_WebProjectManager.csproj.nuget.dgspec.json
advProj_WebProjectManager/obj/advProj_WebProjectManager.csproj.nuget.g.props
advProj_WebProjectManager/obj/Debug/net6.0/advProj_WebProjectManager.assets.cache
advProj_WebProjectManager/obj/Debug/net6.0/advProj_WebProjectManager.csproj.AssemblyReference.cache
advProj_WebProjectManager/obj/Debug/net6.0/advProj_WebProjectManager.GeneratedMSBuildEditorConfig.editorconfig
advProj_WebProjectManager/obj/project.assets.json
advProj_WebProjectManager/obj/project.nuget.cache
advProj_BusinessObjects/obj/advProj_BusinessObjects.csproj.nuget.dgspec.json
advProj_BusinessObjects/obj/advProj_BusinessObjects.csproj.nuget.g.props
advProj_BusinessObjects/obj/Debug/net6.0/advProj_BusinessObjects.assets.cache
advProj_BusinessObjects/obj/Debug/net6.0/advProj_BusinessObjects.csproj.AssemblyReference.cache
advProj_BusinessObjects/obj/Debug/net6.0/advProj_BusinessObjects.GeneratedMSBuildEditorConfig.editorconfig
advProj_BusinessObjects/obj/project.assets.json
advProj_BusinessObjects/obj/project.nuget.cache
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/00be0ad8-d6a1-475d-86fb-e89d1fc6decc.vsidx
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/893efe23-363f-4c2f-bff3-9c2a83eec3d8.vsidx
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/90451a93-d532-4a0f-91c7-9acf2b6494de.vsidx
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/e964665f-d8e2-4c42-af4c-48cfd5e895d6.vsidx
advProj_ProjectManager/obj/advProj_ProjectManager.csproj.nuget.dgspec.json
advProj_ProjectManager/obj/advProj_ProjectManager.csproj.nuget.g.props
advProj_ProjectManager/obj/Debug/net6.0-windows/advProj_ProjectManager.assets.cache
advProj_ProjectManager/obj/Debug/net6.0-windows/advProj_ProjectManager.csproj.AssemblyReference.cache
advProj_ProjectManager/obj/Debug/net6.0-windows/advProj_ProjectManager.GeneratedMSBuildEditorConfig.editorconfig
advProj_ProjectManager/obj/project.assets.json
advProj_ProjectManager/obj/project.nuget.cache
advProj_WebProjectManager/obj/advProj_WebProjectManager.csproj.nuget.dgspec.json
advProj_WebProjectManager/obj/advProj_WebProjectManager.csproj.nuget.g.props
advProj_WebProjectManager/obj/Debug/net6.0/advProj_WebProjectManager.assets.cache
advProj_WebProjectManager/obj/Debug/net6.0/advProj_WebProjectManager.csproj.AssemblyReference.cache
advProj_WebProjectManager/obj/Debug/net6.0/advProj_WebProjectManager.GeneratedMSBuildEditorConfig.editorconfig
advProj_WebProjectManager/obj/project.assets.json
advProj_WebProjectManager/obj/project.nuget.cache
advProj_BusinessObjects/obj/advProj_BusinessObjects.csproj.nuget.dgspec.json
advProj_BusinessObjects/obj/advProj_BusinessObjects.csproj.nuget.g.props
advProj_BusinessObjects/obj/Debug/net6.0/advProj_BusinessObjects.assets.cache
advProj_BusinessObjects/obj/Debug/net6.0/advProj_BusinessObjects.csproj.AssemblyReference.cache
advProj_BusinessObjects/obj/Debug/net6.0/advProj_BusinessObjects.GeneratedMSBuildEditorConfig.editorconfig
advProj_BusinessObjects/obj/project.assets.json
advProj_BusinessObjects/obj/project.nuget.cache
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/00be0ad8-d6a1-475d-86fb-e89d1fc6decc.vsidx
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/893efe23-363f-4c2f-bff3-9c2a83eec3d8.vsidx
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/90451a93-d532-4a0f-91c7-9acf2b6494de.vsidx
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/e964665f-d8e2-4c42-af4c-48cfd5e895d6.vsidx
advProj_ProjectManager/obj/advProj_ProjectManager.csproj.nuget.dgspec.json
advProj_ProjectManager/obj/advProj_ProjectManager.csproj.nuget.g.props
advProj_ProjectManager/obj/Debug/net6.0-windows/advProj_ProjectManager.assets.cache
advProj_ProjectManager/obj/Debug/net6.0-windows/advProj_ProjectManager.csproj.AssemblyReference.cache
advProj_ProjectManager/obj/Debug/net6.0-windows/advProj_ProjectManager.GeneratedMSBuildEditorConfig.editorconfig
advProj_ProjectManager/obj/project.assets.json
advProj_ProjectManager/obj/project.nuget.cache
advProj_WebProjectManager/obj/advProj_WebProjectManager.csproj.nuget.dgspec.json
advProj_WebProjectManager/obj/advProj_WebProjectManager.csproj.nuget.g.props
advProj_WebProjectManager/obj/Debug/net6.0/advProj_WebProjectManager.assets.cache
advProj_WebProjectManager/obj/Debug/net6.0/advProj_WebProjectManager.csproj.AssemblyReference.cache
advProj_WebProjectManager/obj/Debug/net6.0/advProj_WebProjectManager.GeneratedMSBuildEditorConfig.editorconfig
advProj_WebProjectManager/obj/project.assets.json
advProj_WebProjectManager/obj/project.nuget.cache
advProj_BusinessObjects/obj/advProj_BusinessObjects.csproj.nuget.dgspec.json
advProj_ProjectManager/obj/project.nuget.cache
advProj_BusinessObjects/obj/advProj_BusinessObjects.csproj.nuget.dgspec.json
advProj_BusinessObjects/obj/advProj_BusinessObjects.csproj.nuget.g.props
advProj_BusinessObjects/obj/Debug/net6.0/advProj_BusinessObjects.assets.cache
advProj_BusinessObjects/obj/Debug/net6.0/advProj_BusinessObjects.csproj.AssemblyReference.cache
advProj_BusinessObjects/obj/Debug/net6.0/advProj_BusinessObjects.GeneratedMSBuildEditorConfig.editorconfig
advProj_BusinessObjects/obj/project.assets.json
advProj_BusinessObjects/obj/project.nuget.cache
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/00be0ad8-d6a1-475d-86fb-e89d1fc6decc.vsidx
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/893efe23-363f-4c2f-bff3-9c2a83eec3d8.vsidx
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/90451a93-d532-4a0f-91c7-9acf2b6494de.vsidx
advProj_ProjectManager/.vs/advProj_ProjectManager/FileContentIndex/e964665f-d8e2-4c42-af4c-48cfd5e895d6.vsidx
advProj_ProjectManager/obj/advProj_ProjectManager.csproj.nuget.dgspec.json
advProj_ProjectManager/obj/advProj_ProjectManager.csproj.nuget.g.props
advProj_ProjectManager/obj/Debug/net6.0-windows/advProj_ProjectManager.assets.cache
advProj_ProjectManager/obj/Debug/net6.0-windows/advProj_ProjectManager.csproj.AssemblyReference.cache
advProj_ProjectManager/obj/Debug/net6.0-windows/advProj_ProjectManager.GeneratedMSBuildEditorConfig.editorconfig
advProj_ProjectManager/obj/project.assets.json
advProj_ProjectManager/obj/project.nuget.cache
advProj_WebProjectManager/obj/advProj_WebProjectManager.csproj.nuget.dgspec.json
advProj_WebProjectManager/obj/advProj_WebProjectManager.csproj.nuget.g.props
advProj_WebProjectManager/obj/Debug/net6.0/advProj_WebProjectManager.assets.cache
advProj_WebProjectManager/obj/Debug/net6.0/advProj_WebProjectManager.csproj.AssemblyReference.cache
advProj_WebProjectManager/obj/Debug/net6.0/advProj_WebProjectManager.GeneratedMSBuildEditorConfig.editorconfig
advProj_WebProjectManager/obj/project.assets.json
advProj_WebProjectManager/obj/project.nuget.cache
