@using advProj_BusinessObjects;
@using advProj_WebProjectManager.ViewModels;
@model NewTaskModelView

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>AdvProjTask</h4>
<hr />
<div class="row">

    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-1">
                <input asp-for="projectTask.TaskName" class="form-control" />
                <label asp-for="projectTask.TaskName" class="control-label"></label>
                <span asp-validation-for="projectTask.TaskName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-1">
                <input asp-for="projectTask.TaskDescription" class="form-control" />
                <label asp-for="projectTask.TaskDescription" class="control-label"></label>
                <span asp-validation-for="projectTask.TaskDescription" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-1">
                        <input asp-for="projectTask.StartDate" class="form-control" type="date" required />
                        <label asp-for="projectTask.StartDate" class="control-label"></label>
                        <span asp-validation-for="projectTask.StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-1">
                        <input asp-for="projectTask.EndDate" class="form-control" type="date" required />
                        <label asp-for="projectTask.EndDate" class="control-label"></label>
                        <span asp-validation-for="projectTask.EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @*User Selector Form*@
            <div class="form-group">
                <label class="form-label mt-1">Select People (Use Ctr to select Many)</label>
                @*<select class="form-select" asp-for="Users" asp-items="@Model.Users.Select(i => new SelectListItem{Text = i.FullName, Value = i.UserId.ToString()})" multiple select ></select>*@
                <select class="form-select" asp-for="selectIdArray" asp-items="@Model.Users.Select(i => new SelectListItem{Text = i.FullName, Value = i.UserId.ToString()})" multiple></select>
            </div>

            <div class="form-floating mb-1">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>

<div>
    <a asp-action="Index" asp-route-id="@Context.GetRouteValue("id")">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
