@model advProj_BusinessObjects.AdvProjDocument

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    TempData["tid"] = Context.Request.Query["tid"].FirstOrDefault();
}

<h1>Create</h1>

<h4>AdvProjDocument</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mt-1">
                <input asp-for="DocumentName" class="form-control" />
                <label asp-for="DocumentName" class="control-label"></label>
                <span asp-validation-for="DocumentName" class="text-danger"></span>
            </div>

            <div class="form-floating mt-1">
                <input asp-for="DocumentDescription" class="form-control" />
                <label asp-for="DocumentDescription" class="control-label"></label>
                <span asp-validation-for="DocumentDescription" class="text-danger"></span>
            </div>

            <div class="form-floating mt-1">
                <label for="files" class="control-label">Select Files</label>
                <input type="file" name="files" class="form-control" required />
            </div>

            <div class="form-form-floating mt-1">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-tid="@Context.Request.Query["tid"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

