@model advProj_BusinessObjects.AdvProjNotification

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>AdvProjNotification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NotificationId" />
            <div class="form-group">
                <label asp-for="NotificationTitle" class="control-label"></label>
                <input asp-for="NotificationTitle" class="form-control" />
                <span asp-validation-for="NotificationTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationDate" class="control-label"></label>
                <input asp-for="NotificationDate" class="form-control" />
                <span asp-validation-for="NotificationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationBody" class="control-label"></label>
                <input asp-for="NotificationBody" class="form-control" />
                <span asp-validation-for="NotificationBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskId" class="control-label"></label>
                <select asp-for="TaskId" class="form-control" asp-items="ViewBag.TaskId"></select>
                <span asp-validation-for="TaskId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
